---
import '../styles/global.css'
import AcademicIcon from '../icons/AcademicIcon.astro'
import PersonalIcon from '../icons/PersonalIcon.astro'
import WorkIcon from '../icons/WorkIcon.astro'
import PlayIcon from '../icons/PlayIcon.astro'


export interface Props {
  type: string;
  affiliation: string;
  title: string;
  videoLink?: string;
}

const { type, affiliation, title, videoLink="" } = Astro.props as Props;

let videoAvailable=videoLink!=="";
let videoIsLocal = true;
if(videoLink.includes("http")){
    videoIsLocal=false;
}

---


<div class="card">
    <div style="display:flex; justify-content: space-between">
        <div class="tile-top">{type=='academic project'?<AcademicIcon/>:(type=='work project'?<WorkIcon/>:<PersonalIcon/>)} {type}</div>
        <div class="tile-top">{affiliation}</div>
            
        </div>
    <div class="card-content">
        <h2>
            {title}
        </h2>
        <p class="card-description">
            <slot/>
        </p>
        {videoAvailable && (
            !videoIsLocal && (
                <a href={videoLink} class="card-link" target="_blank" rel="noopener noreferrer">
                    <PlayIcon /> WATCH VIDEO
                </a>
            ) 
            || videoIsLocal && ( /*PLACE HOLDER */
                <a href={videoLink} class="card-link" target="_blank" rel="noopener noreferrer">
                    <PlayIcon /> WATCH VIDEO
                </a>
            ))}
    </div>
</div>

<style>
    .card{
        padding: 5px 10px;
        
    }
    .card-content{
        padding: 6% 4% 2% 4%;
        
    }
    .card-description{
        font-family: "Chakra";
        color: var(--color4Light);
    }

    .tile-top{
        color:var(--color4Light);
        font-family: "Chakra";
    }

    .card-link{
        color:var(--color4);
        font-family: "Chakra";
        display:flex;
    }

    .card-link:hover{
        color:var(--color2);
        background-color: var(--color4);
    }
</style>

