---
import '../styles/global.css'
import AcademicIcon from '../icons/AcademicIcon.astro'
import PersonalIcon from '../icons/PersonalIcon.astro'
import WorkIcon from '../icons/WorkIcon.astro'
import PlayIcon from '../icons/PlayIcon.astro'
import GithubIcon from '../icons/GithubIcon.astro'
import Tag from '../components/Tag.astro'


export interface Props {
  type: string;
  affiliation: string;
  title: string;
  videoLink?: string;
  githubLink?: string;
  tags: Array<string>;
}

const { type, affiliation, title, videoLink="" , githubLink="", tags} = Astro.props as Props;

let videoAvailable=videoLink!=="";
let videoIsLocal = true;
if(videoLink.includes("http")){
    videoIsLocal=false;
}
let githubAvailable=githubLink!=="";

---


<div class="card">
    <div style="display:flex; justify-content: space-between">
        <div class="tile-top">{type=='academic project'?<AcademicIcon/>:(type=='work project'?<WorkIcon/>:<PersonalIcon/>)} {type}</div>
        <div class="tile-top">{affiliation}</div>
            
        </div>
    <div class="card-content">
        <h2>
            {title}
        </h2>
        <p class="card-description">
            <slot/>
        </p>
        {videoAvailable && (
            !videoIsLocal && (
                <a href={videoLink} class="card-link" target="_blank" rel="noopener noreferrer">
                    <PlayIcon /> WATCH VIDEO
                </a>
            ) 
            || videoIsLocal && ( /*PLACE HOLDER */
                <a href={videoLink} class="card-link" target="_blank" rel="noopener noreferrer">
                    <PlayIcon /> WATCH VIDEO
                </a>
            ))}
        {githubAvailable && (
            <a href={githubLink} class="card-link" target="_blank" rel="noopener noreferrer"><GithubIcon/>  GITHUB REPO</a>
            )}
        <div class="separator">
            <!-- Separator line -->
            <div class="separator__separator"></div>
        </div>

        <div>
            {tags.map((tag) => (
                <Tag tagName={tag}/>
            ))}
        </div>
    </div>
</div>

<style>
    .card{
        padding: 5px 10px;
        
    }
    .card-content{
        padding: 6% 4% 2% 4%;
        
    }
    .card-description{
        font-family: "Chakra";
        color: var(--color4Light);
    }

    .tile-top{
        color:var(--color4Light);
        font-family: "Chakra";
        font-size: 16px;
    }

    .card-link{
        color:var(--color4);
        font-family: "Chakra";
        display:flex;
        /*outline: 2px solid var(--color3)*/
    }

    .card-link:hover{
        color:var(--color2);
        background-color: var(--color4);
    }

    .separator {
        /* Content is centered horizontally */
        align-items: center;
        display: flex;

        /* Used to set the position of text */
        position: relative;

        margin-top: 10px;
        margin-bottom: 5px;
    }

    .separator__separator {
        border-bottom: 1px solid var(--color3);
        height: 1px;
        width: 100%;
    }

</style>

